/*
  HEY

  HEY

  BUSTER

  OVER HERE!

  I'm TALKIN TO U

  Rename this file to variables.env and fill it out

  K?

  k!

*/

CONSUMER_KEY=get-your-own
CONSUMER_SECRET=yah-eh
ACCESS_TOKEN=serious
ACCESS_TOKEN_SECRET=just-go-to-https://apps.twitter.com
